Django==1.9.2

django-braces==1.8.1
django-compressor==2.0
django-debug-toolbar==1.4
django-extensions==1.6.1
django-grappelli==2.7.3
celery==3.1.20
flower==0.8.1
gunicorn==19.4.5
ipdb==0.8.1
ipython==4.1.1
ipython-genutils==0.1.0
psycopg2==2.6.1
Werkzeug==0.11.3
youtube-dl>=2014.06.26
